# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Environnements virtuels
venv/
env/
.venv/
.env/

# Fichiers de configuration de l'IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Fichiers de log
*.log

# Dossiers de tests temporaires
test_output/
coverage/
*.cover

# Fichiers de configuration de l'application
instance/
*.db
*.sqlite3

# Fichiers de cache
.cache/

# Autres fichiers à ignorer
*.DS_Store
*.egg-info/
dist/
build/